body {
    width:100vw;
    height:100vh;
    margin:0;
    padding:0;
}
.container {
    width:100%;
    height:100%;
}
.section {
    width: 24%;
    height:49%;
    padding:0;
    margin:0;
    border:1px solid blue;
    background-color:crimson;
    float:left;
}
/*DIV 1 CSS*/
.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*END DIV 1 CSS*/
/* Div 7 CSS - David */

#map {
    width: 100%;
    height: 100%;
}

/* End Div 7 CSS - David */

.div6 .car_img {
    width: 100%;
    height: 50%;
    border: 0;
}

.div6 .house_img {
    width: 100%;
    height: 50%;
    border: 0;
}
.div4 {
    position: relative;
    background-image: url("images/passport-background3.jpg");
    background-repeat: no-repeat;
    #background-size: cover;
    /*width:100%;*/
    /*height:100%;*/
}

#photo,
#lName,
#fName,
#place_of_issue,
#gender { border: 1px solid red; position: absolute;}

#photo {
    width: 127px;
    height: 199px;
    left: 14px;
    top: 80px;
}
#lName {
    width: 80px;
    height: 20px;
    left: 151px;
    top: 80px;
}
#fName {
    width: 107px;
    height: 22px;
    left: 151px;
    top: 108px;
}
#place_of_issue {
    width: 107px;
    height: 18px;
    left: 150px;
    top: 190px;
}
#gender {
    width: 107px;
    height: 17px;
    left: 333px;
    top: 191px;
}
