/*GENERAL*/
body {
    background: url(images/planks_background.jpg) no-repeat center fixed;
    background-size: cover;
    width:100vw;
    height:100vh;
    margin:0;
    padding:0;
    font-family: "Special Elite", sans-serif;
}
.container {
    width:100%;
    height:100%;
}

.intro {
    position: fixed;
    display: block;
    width: 100%;
    text-align: center;
    top: 10vh;
    font-size: 120%;
    font-weight: 800;
    font-family: 'Voltaire', sans-serif;
    text-shadow: #E6E6E6 5px 5px 3px;
}

.page {
    width: 60%;
    height: 90%;
    position: fixed;
    background: url(images/paper_textured.jpg) no-repeat center;
    background-size: cover;
}

.blood {
    position: fixed;
    opacity: .5;
    top: 10%;
    right: 0;
    height: 90%;
    width: auto;
    z-index: 2;
}

/*PAGE 1 CONTENT*/
.page_1 {
    z-index: 30;
    top: 82%;
    left: 36%;
    height:60%;
    width:47%;
    position: fixed;
    background: url(images/new_passport12.png) no-repeat center;
    background-size: 100% 100%;
    font-family: Verdana, sans-serif;
    font-weight: bold;
}
#photo {
    position: relative;
    width: 28%;
    height: 30%;
    left: 3%;
    top: 67%;
}
#lName {
    width: 23%;
    height: 3%;
    left: 34%;
    top: 37%;
    position: relative;
}
#fName {
    width: 30%;
    height: 3%;
    left: 34%;
    top: 38%;
    position: relative;
}
#place_of_issue {
    width: 23%;
    height: 3%;
    left: 34%;
    top: 48%;
    position: relative;
}
#gender {
    width: 23%;
    height: 3%;
    left: 76%;
    top: 45%;
    position: relative;
}
/*PAGE 2 CONTENT*/
.page_2 {
    z-index: 10;
    top: 74%;
    left: 22%;
    background-color: #D9C6A8;

}

.identity_info {
    font-family: "Special Elite", sans-serif;
    font-size: 1.2vw;
    padding: 3vw 3vw 0 3vw;

    line-height: 100%;
    min-font-size: 10px;
}

.new-story-para {
    font-size: 1.4vw;
    padding: 0 2vw;
    display: inline-block;
    text-indent: 3vw;
}
/*
*   Page 3 content
*/
.sepia {
    -webkit-filter: sepia(80%);
}

.page_3 {
    background-color:#D9C6A8;
    top: 78%;
    z-index: 20;
    left: 16%;
    position:fixed;
    text-align: center;
}

.page_3 p, .page_2 p {
    height: 8%;
    margin: 1% 0;
    padding-top: 1%;
}

.pic_content {
    position: relative;
    top: 10%;
    width: 100%;
    height: 80%;
}

.polaroid_1 {
    border: 5px #BEAD8B solid;
    position: relative;
    float: left;
    width: 40%;
    height: 40%;
    transform: rotate(14.5deg);
    display: inline-block;
    left: 6%;
}

.car_img {
    position: relative;
    width: 85%;
    height: 85%;
    padding: 0 5%;

}

/* .polaroid_1:hover {
    transition: all 1s ease;
    transform: rotate(-14.5deg) scale(1.25);
} */


.polaroid_2 {
    border: 5px #BEAD8B solid;
    position: relative;
    float: right;
    width: 35%;
    height: 35%;
    transform: rotate(-14.5deg);
    right: 6%;
}

.house_img {
    position: relative;
    width: 85%;
    height: 85%;
    padding: 0 5%;
}

/*.polaroid_2:hover {
    transition: all 1s ease;
    transform: rotate(14deg) scale(1.25);
} */

.polaroid_3 {
    position: relative;
    left: 18%;
    top: 35%;
    width: 30vw;
    height: 61vh;
}

#map {
    width: 80%;
    height: 50%;
    position: relative;
    top: 10%;
    left: 10%;
    border: 5px #BEAD8B solid;
}

.polaroid_3:hover {
    transition: all 1s ease;
    transform: scale(1.25);
}
/*FOLDER PICS*/
.manila_back {
    width: 80%;
    height: 35%;
    z-index: 1;
    margin-left: 10%;
    position: fixed;
    bottom: 0;
}
.manila_front {
    width: 80%;
    height: 12%;
    z-index: 100;
    margin-left: 10%;
    position: fixed;
    bottom: 0;
}
.up {
    transition: all .8s;
    border-radius: .5%;
    box-shadow: 1px -1px 8px #918a8a;
}

.slide {
    transform: translate(0, -70vh);
}