body {
    width:100vw;
    height:100vh;
    margin:0;
    padding:0;
}
.container {
    width:100%;
    height:100%;
}
.section {
    width: 24%;
    height:49%;
    padding:0;
    margin:0;
    border:1px solid blue;
    background-color:crimson;
    float:left;
}
/*DIV 1 CSS*/
.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*END DIV 1 CSS*/
/* Div 7 CSS - David */

#map {
    width: 100%;
    height: 100%;
}

/* End Div 7 CSS - David */

.div6 .car_img {
    width: 100%;
    height: 50%;
    border: 0;
}

.div6 .house_img {
    width: 100%;
    height: 50%;
    border: 0;
}

