body {
    background-image: url(images/planks_background.jpg);
    width:100vw;
    height:100vh;
    margin:0;
    padding:0;
}
.container {
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*PAGE 1 CONTENT*/
.page_1 {
    height:800px;
    width:600px;
    background-image: url(images/new_passport.png);
}
#photo {
    width: 127px;
    height: 199px;
    left: 14px;
    top: 80px;
}
#lName {
    width: 80px;
    height: 20px;
    left: 151px;
    top: 80px;
}
#fName {
    width: 107px;
    height: 22px;
    left: 151px;
    top: 108px;
}
#place_of_issue {
    width: 107px;
    height: 18px;
    left: 150px;
    top: 190px;
}
#gender {
    width: 107px;
    height: 17px;
    left: 333px;
    top: 191px;
}
/*PAGE 2 CONTENT*/
.page_2 {
    background-color: snow;
    height:52vw;
    width:50vw;
}
.top_space {
    padding-bottom: 100px;
}
.space_between {
    line-height: 400%;
    font-family: "Special Elite";
    font-size: 0.7vw;
    padding: 0 50px;
}
/*PAGE 3 */